.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
}
  
.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
    transition: 0.2s ease all;
}
.radio-inputs .radio:hover {
    background-color: rgba(51, 51, 51, 0.253);    
}
  
.radio-inputs .radio input {
    display: none;
}
  
.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    color: #ffffffb2;
    transition: all .15s ease-in-out;
    height: 100%;
}
  
.radio-inputs .radio .name > span {
    height: 50px;
    display: flex;
    align-items: center;
}

.radio-inputs .radio input:checked + .name > span {
    color: #ffffff;
    border-bottom: 4px solid #1d9bf0;
    font-weight: bolder;
}

#input-post {
    width: 100%;
    height: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    color: #ffffff;
    overflow-y: hidden; 
}

#postBtn {
    font-size: 14px;
}

.post {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    transition: 0.2s ease all;
    padding: 10px 0px;
}

.post:hover {
    cursor: pointer;
    background-color: #2020204d;
}

.post .name,
.post .username {
    font-size: 17px;
}

.post .username,
.post .time {
    color: #71767b;
}

.post .time {
    font-size: 14px;
}

.commentsCount {
    position: absolute;
    left: 23px;
    font-size: 12px;
}

.actions svg {
    width: 15px;
    height: 15px;

    color: #71767b;            
}


.btn-action {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s ease all;
    cursor: pointer;
}
.bg-hover {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: 0.3s ease all;
}

.comment:hover .bg-hover {
    background-color: #1d9bf01a;
}
.comment:hover svg {
    fill: #388fca;
}

.repost:hover .bg-hover {
    background-color: #00ba7c1a;
}
.repost:hover svg {
    fill: #00ba7c;
}

.like:hover .bg-hover {
    background-color: #f918801a;
}
.like:hover svg {
    fill: #f91880;
}

.post-label {
    font-size: 20px;
}

.btn-back:hover .bg-hover {
    background-color: #eff3f41a;
}

#modal-repost .content {
    border: 1px solid #2f3336;
    padding: 20px;
    border-radius: 16px;
}

#modal-repost .content #send-post,
#modal-repost .content .user-icon-placeholder {
    width: 24px;
    height: 24px;
    font-size: 8px;
    min-width:  auto;
}

#modal-repost .btn {
    background-color: #eff3f4;
    border-radius: 32px;
    font-weight: bolder;
    padding: 5px 20px;
}

.post-reply {
    margin-top: 10px;
    border: 1px solid #53647165;
    border-radius: 12px;
    padding: 15px;
}

.post-reply img, .post-reply .user-icon-placeholder {
    width: 25px;
    height: 25px;
    font-size: 12px;
    min-width: auto;
}